spring:
  application:
    name: user-service
  datasource:
    url: ${USER_DB_URL:jdbc:postgresql://localhost:5432/user}
    username: ${USER_DB_USER:user}
    password: ${USER_DB_PASS:user}
  jpa:
    hibernate:
      ddl-auto: update
  flyway:
    enabled: true
  data:
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
server:
  port: ${PORT:8082}
