# Backend
NEON_DB_URL=jdbc:postgresql://ep-morning-smoke-a4sp6np2-pooler.us-east-1.aws.neon.tech/neondb?user=neondb_owner&password=npg_4EDBtGZM3cmQ&sslmode=require&channelBinding=require
NEON_DB_USER=neondb_owner
NEON_DB_PASS=npg_4EDBtGZM3cmQ
UPSTASH_REDIS_URL=rediss://your-upstash-url
UPSTASH_REDIS_TOKEN=upstash_token
JWT_SECRET=please-change-me
ALLOWED_ORIGINS=http://localhost:3000,http://localhost:19006

# Frontend (Expo)
EXPO_PUBLIC_API_BASE_URL=http://localhost:3080/api/v1
EXPO_PUBLIC_FIREBASE_API_KEY=
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=
